<!DOCTYPE html>
<html>
    <head>
        <title>Angular test</title>
    </head>
    <body>
        <div ng-app="">
            {{3 *3}}
        </div>
            
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    </body>
</html>