<!DOCTYPE html>
<html>
    <head>
        <title>Scrumboard</title>
    </head>
    <body>
        <header>
            <div class='wrapper'>
                <a href='/'>
                    <h1 class='header_title'><strong>Scrum</strong>board</h1>
                </a>        
            </div>
        </header>
        <div class='content' ng-app="scrumboardApp">
            <div ng-controller="overviewCtrl">
                <div ng-repeat="note in StickyNotes.data">
                    <label>{{note.title}}</label>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="/style/stylesheet.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
        <script language="Javascript" type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script language="Javascript" type="text/javascript" src="/js/angular.min.js"></script>
        <script language="Javascript" type="text/javascript" src="/js/site.js"></script>
    </body>
</html>