<!DOCTYPE html>
<html>
    <head>
        <title>Scrumboard</title>
    </head>
    <body>
        <header>
            <div class='wrapper'>
                <ul>
                    <li>
                        <a href='/'>
                            <h1 class='header_title'><strong>Scrum</strong>board</h1>
                        </a>
                    </li>
                    <li>
                        <select>
                            <option>Project 1</option>
                            <option>Project 2</option>
                            <option>Project 3</option>
                        </select>
                    </li><li>
                        <a href='/'>Overview</a>
                    </li><li>
                        <a href='/'>Overview</a>
                    </li><li>
                        <a href='/'>Overview</a>
                    </li><li>
                        <a href='/'>Overview</a>
                    </li>
                    
                </ul>
            </div>
        </header>
        <div class='content'>
            <form action='/api/v1/post/login/' method='post'>
                <input type='text' name='username' placeholder='Username'>
                <input type='password' name='password' placeholder='Password'>
                <input type='submit' value='Login'>
            </form>
        </div>
        <link rel="stylesheet" href="/style/stylesheet.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    </body>
</html>