<!DOCTYPE html>
<html>
    <head>
        <title>Scrumboard</title>
    </head>
    <body>
        <header>
            <div class='wrapper'>
                <ul>
                    <li>
                        <a href='/'>Home</a>
                    </li>
                    <li>
                        <select>
                            <option>Project 1</option>
                            <option>Project 2</option>
                            <option>Project 3</option>
                        </select>
                    </li>
                    <li>
                        <a href='/'>Overview</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class='content'>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, nisi voluptatibus deleniti reprehenderit aliquam, sunt tempor obcaecati, facere veniam esse aliquid ullam saepe. nulla voluptas, commodo dolorem quibusdam irure sunt ad autem laboriosam numquam eos earum aute quam adipisicing. incididunt eos tempore sapiente consequatur irure quam est, a autem eu dolor omnis quas, distinctio. elit, pariatur voluptates ullam exercitation quos cupiditate voluptatibus excepteur voluptas perferendis ullam. eligendi odio temporibus eligendi saepe placeat aliqua eu consectetur quaerat repellendus sed, eos voluptas anim placeat commodo. animi corporis, autem laboriosam obcaecati proident dolorum.</p>
            <p>Modi, deserunt omnis elit mollit eos fuga repellendus placeat debitis eos dolorem voluptate vel facilis tenetur temporibus quia consequat. Eum illum aute est iure dolorum ullam enim ex soluta fuga obcaecati. Pariatur quaerat aliqua quo aut nostrum cum excepturi omnis ullam vel exercitation aute assumenda minima tempora. Laboriosam elit aliquid hic aliqua tempor.</p>
            <p>Nostrud perferendis doloribus incididunt laborum labore, possimus consequatur eu laboris tempora ex mollitia voluptates dolorem libero nulla. Nulla excepteur necessitatibus eius, consequatur et cillum repudiandae quam quidem exercitation itaque nulla. Quibusdam iusto numquam, minus ut officia quaerat eius mollitia veniam minima, eum fuga assumenda recusandae magna possimus. Dignissimos non, eveniet culpa debitis autem excepturi harum, consequatur. Itaque pariatur dolor vel irure.</p>
            <p>Proident, soluta elit maxime exercitation quis numquam. Nostrud fuga qui cupiditate omnis dolore aliqua reiciendis ea reiciendis laboris possimus proident vero ullamco nulla minima. Laboriosam aliquid molestias consequat dolorum enim impedit similique asperiores sapiente voluptate cumque maiores aliquid. Iusto provident possimus autem aliquid itaque. Incidunt soluta corporis, mollitia fuga, blanditiis exercitation labore nostrud quo fugiat voluptatem laboris, tempor quam molestias provident. Perferendis quidem minus ut id facere numquam commodi at temporibus illum incidunt earum eum iusto. Officiis optio corrupti expedita quis debitis voluptates sint eos vero, deleniti quas.</p>
            <p>Eum veniam magnam tempor maiores voluptate temporibus fugiat itaque non, libero. Consequat tenetur excepteur suscipit tempora similique. Accusamus laboriosam commodo dignissimos facilis facilis sunt cillum eius quos hic labore incidunt eius laboris asperiores alias ullam iusto.</p>
            <p>Ullam odio, molestias sed blanditiis deserunt repellendus. Nulla dolorum velit dolorem exercitation sapiente, eligendi suscipit. Asperiores voluptates distinctio dolore nobis ex excepteur harum excepteur animi consectetur. Corrupti enim repudiandae eu mollitia ex mollitia molestiae pariatur nostrum, a adipisicing eveniet eligendi minima accusamus cum necessitatibus.</p>
        </div>
        <link rel="stylesheet" href="/style/stylesheet.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    </body>
</html>