<!DOCTYPE html>
<html ng-app="scrumboardApp">
    <head>
        <title>Scrumboard</title>
        <link rel="stylesheet" href="/style/stylesheet.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <script language="Javascript" type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script language="Javascript" type="text/javascript" src="/js/angular.min.js"></script>
        <script language="Javascript" type="text/javascript" src="/js/site.js"></script>
    </head>
    <body>
        <header>
            <div class='wrapper'>
                <a href='/'>
                    <h1 class='header_title'><span>Scrum</span>board</h1>
                </a>        
            </div>
        </header>
            {% block content %}
                <div class='content'>
                    <div class='overview' ng-controller="overviewCtrl">
                        <sticky-note ng-repeat="note in notes.data"></sticky-note>
                    </div>
                </div>
            {% endblock %}
    </body>
</html>