{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {%for recepy in view.getRecipes %}
        <div>
            iets
        </div>
    {% endfor %}
{% endblock content %}