/* line 1, ../../guard/sass/_header.scss */
header {
  height: 60px;
  line-height: 60px;
  background-color: #3a3433;
  background-image: linear-gradient(45deg, transparent 5px, rgba(255, 255, 255, 0.03) 5px, rgba(255, 255, 255, 0.03) 6px, transparent 6px, transparent), linear-gradient(-45deg, transparent 5px, rgba(255, 255, 255, 0.03) 5px, rgba(255, 255, 255, 0.03) 6px, transparent 6px, transparent), linear-gradient(0deg, #36302f 0%, #494443 100%);
  background-size: 8px 8px,8px 8px, 100% 100%;
  border-bottom: 1px solid #000000;
  text-shadow: 0 1px 0 #FFFFFF;
  box-shadow: 0px 0px 4px #444444;
}
/* line 15, ../../guard/sass/_header.scss */
header div.wrapper {
  padding: 0px 20px;
}
/* line 19, ../../guard/sass/_header.scss */
header h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-shadow: 1px 1px 2px #404040;
  margin: 0px;
  line-height: 60px;
  font-weight: normal;
  color: #ffffff;
}
/* line 26, ../../guard/sass/_header.scss */
header h1 span {
  color: #4e7bf0;
}

/* line 1, ../../guard/sass/_login.scss */
div.authenticate {
  width: 300px;
  margin: 50px auto;
  padding: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 7, ../../guard/sass/_login.scss */
div.authenticate input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
  height: 30px;
  padding: 5px;
  margin: 5px 0px;
}
/* line 14, ../../guard/sass/_login.scss */
div.authenticate input[type="submit"] {
  background-color: #4E7BF0;
  color: white;
}

/* line 5, ../../guard/sass/_stickyNote.scss */
.stickyNote {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #fcf0ad), color-stop(100%, #f8de4b));
  background-image: -webkit-radial-gradient(45px 45px, #fcf0ad 0px, #f8de4b 150px);
  background-image: -moz-radial-gradient(45px 45px, #fcf0ad 0px, #f8de4b 150px);
  background-image: -o-radial-gradient(45px 45px, #fcf0ad 0px, #f8de4b 150px);
  background-image: radial-gradient(45px 45px, #fcf0ad 0px, #f8de4b 150px);
  border: 1px solid #444444;
  box-shadow: 2px 2px 3px #888888;
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #4A009A;
}
/* line 18, ../../guard/sass/_stickyNote.scss */
.stickyNote.neon.color-1 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #e9e74a), color-stop(100%, #e3e11d));
  background-image: -webkit-radial-gradient(45px 45px, #e9e74a 0px, #e3e11d 150px);
  background-image: -moz-radial-gradient(45px 45px, #e9e74a 0px, #e3e11d 150px);
  background-image: -o-radial-gradient(45px 45px, #e9e74a 0px, #e3e11d 150px);
  background-image: radial-gradient(45px 45px, #e9e74a 0px, #e3e11d 150px);
}
/* line 21, ../../guard/sass/_stickyNote.scss */
.stickyNote.neon.color-2 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #ee5e9f), color-stop(100%, #e93083));
  background-image: -webkit-radial-gradient(45px 45px, #ee5e9f 0px, #e93083 150px);
  background-image: -moz-radial-gradient(45px 45px, #ee5e9f 0px, #e93083 150px);
  background-image: -o-radial-gradient(45px 45px, #ee5e9f 0px, #e93083 150px);
  background-image: radial-gradient(45px 45px, #ee5e9f 0px, #e93083 150px);
}
/* line 24, ../../guard/sass/_stickyNote.scss */
.stickyNote.neon.color-3 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #ffdd2a), color-stop(100%, #f6cf00));
  background-image: -webkit-radial-gradient(45px 45px, #ffdd2a 0px, #f6cf00 150px);
  background-image: -moz-radial-gradient(45px 45px, #ffdd2a 0px, #f6cf00 150px);
  background-image: -o-radial-gradient(45px 45px, #ffdd2a 0px, #f6cf00 150px);
  background-image: radial-gradient(45px 45px, #ffdd2a 0px, #f6cf00 150px);
}
/* line 27, ../../guard/sass/_stickyNote.scss */
.stickyNote.neon.color-4 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #f59db9), color-stop(100%, #f06f98));
  background-image: -webkit-radial-gradient(45px 45px, #f59db9 0px, #f06f98 150px);
  background-image: -moz-radial-gradient(45px 45px, #f59db9 0px, #f06f98 150px);
  background-image: -o-radial-gradient(45px 45px, #f59db9 0px, #f06f98 150px);
  background-image: radial-gradient(45px 45px, #f59db9 0px, #f06f98 150px);
}
/* line 30, ../../guard/sass/_stickyNote.scss */
.stickyNote.neon.color-5 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #f9a55b), color-stop(100%, #f78a2a));
  background-image: -webkit-radial-gradient(45px 45px, #f9a55b 0px, #f78a2a 150px);
  background-image: -moz-radial-gradient(45px 45px, #f9a55b 0px, #f78a2a 150px);
  background-image: -o-radial-gradient(45px 45px, #f9a55b 0px, #f78a2a 150px);
  background-image: radial-gradient(45px 45px, #f9a55b 0px, #f78a2a 150px);
}
/* line 35, ../../guard/sass/_stickyNote.scss */
.stickyNote.ultra.color-1 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #d0e17d), color-stop(100%, #c1d754));
  background-image: -webkit-radial-gradient(45px 45px, #d0e17d 0px, #c1d754 150px);
  background-image: -moz-radial-gradient(45px 45px, #d0e17d 0px, #c1d754 150px);
  background-image: -o-radial-gradient(45px 45px, #d0e17d 0px, #c1d754 150px);
  background-image: radial-gradient(45px 45px, #d0e17d 0px, #c1d754 150px);
}
/* line 38, ../../guard/sass/_stickyNote.scss */
.stickyNote.ultra.color-2 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #36a9ce), color-stop(100%, #2989a8));
  background-image: -webkit-radial-gradient(45px 45px, #36a9ce 0px, #2989a8 150px);
  background-image: -moz-radial-gradient(45px 45px, #36a9ce 0px, #2989a8 150px);
  background-image: -o-radial-gradient(45px 45px, #36a9ce 0px, #2989a8 150px);
  background-image: radial-gradient(45px 45px, #36a9ce 0px, #2989a8 150px);
}
/* line 41, ../../guard/sass/_stickyNote.scss */
.stickyNote.ultra.color-3 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #ef5aa1), color-stop(100%, #ea2c87));
  background-image: -webkit-radial-gradient(45px 45px, #ef5aa1 0px, #ea2c87 150px);
  background-image: -moz-radial-gradient(45px 45px, #ef5aa1 0px, #ea2c87 150px);
  background-image: -o-radial-gradient(45px 45px, #ef5aa1 0px, #ea2c87 150px);
  background-image: radial-gradient(45px 45px, #ef5aa1 0px, #ea2c87 150px);
}
/* line 44, ../../guard/sass/_stickyNote.scss */
.stickyNote.ultra.color-4 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #ae86bc), color-stop(100%, #9865aa));
  background-image: -webkit-radial-gradient(45px 45px, #ae86bc 0px, #9865aa 150px);
  background-image: -moz-radial-gradient(45px 45px, #ae86bc 0px, #9865aa 150px);
  background-image: -o-radial-gradient(45px 45px, #ae86bc 0px, #9865aa 150px);
  background-image: radial-gradient(45px 45px, #ae86bc 0px, #9865aa 150px);
}
/* line 47, ../../guard/sass/_stickyNote.scss */
.stickyNote.ultra.color-5 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #ffdf25), color-stop(100%, #f1ce00));
  background-image: -webkit-radial-gradient(45px 45px, #ffdf25 0px, #f1ce00 150px);
  background-image: -moz-radial-gradient(45px 45px, #ffdf25 0px, #f1ce00 150px);
  background-image: -o-radial-gradient(45px 45px, #ffdf25 0px, #f1ce00 150px);
  background-image: radial-gradient(45px 45px, #ffdf25 0px, #f1ce00 150px);
}
/* line 53, ../../guard/sass/_stickyNote.scss */
.stickyNote.tropical.color-1 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #56c4e8), color-stop(100%, #29b4e2));
  background-image: -webkit-radial-gradient(45px 45px, #56c4e8 0px, #29b4e2 150px);
  background-image: -moz-radial-gradient(45px 45px, #56c4e8 0px, #29b4e2 150px);
  background-image: -o-radial-gradient(45px 45px, #56c4e8 0px, #29b4e2 150px);
  background-image: radial-gradient(45px 45px, #56c4e8 0px, #29b4e2 150px);
}
/* line 56, ../../guard/sass/_stickyNote.scss */
.stickyNote.tropical.color-2 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #d0e068), color-stop(100%, #c3d73e));
  background-image: -webkit-radial-gradient(45px 45px, #d0e068 0px, #c3d73e 150px);
  background-image: -moz-radial-gradient(45px 45px, #d0e068 0px, #c3d73e 150px);
  background-image: -o-radial-gradient(45px 45px, #d0e068 0px, #c3d73e 150px);
  background-image: radial-gradient(45px 45px, #d0e068 0px, #c3d73e 150px);
}
/* line 59, ../../guard/sass/_stickyNote.scss */
.stickyNote.tropical.color-3 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #cd9ec0), color-stop(100%, #bc7caa));
  background-image: -webkit-radial-gradient(45px 45px, #cd9ec0 0px, #bc7caa 150px);
  background-image: -moz-radial-gradient(45px 45px, #cd9ec0 0px, #bc7caa 150px);
  background-image: -o-radial-gradient(45px 45px, #cd9ec0 0px, #bc7caa 150px);
  background-image: radial-gradient(45px 45px, #cd9ec0 0px, #bc7caa 150px);
}
/* line 62, ../../guard/sass/_stickyNote.scss */
.stickyNote.tropical.color-4 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #ed839d), color-stop(100%, #e7567a));
  background-image: -webkit-radial-gradient(45px 45px, #ed839d 0px, #e7567a 150px);
  background-image: -moz-radial-gradient(45px 45px, #ed839d 0px, #e7567a 150px);
  background-image: -o-radial-gradient(45px 45px, #ed839d 0px, #e7567a 150px);
  background-image: radial-gradient(45px 45px, #ed839d 0px, #e7567a 150px);
}
/* line 65, ../../guard/sass/_stickyNote.scss */
.stickyNote.tropical.color-5 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #ffe476), color-stop(100%, #ffda43));
  background-image: -webkit-radial-gradient(45px 45px, #ffe476 0px, #ffda43 150px);
  background-image: -moz-radial-gradient(45px 45px, #ffe476 0px, #ffda43 150px);
  background-image: -o-radial-gradient(45px 45px, #ffe476 0px, #ffda43 150px);
  background-image: radial-gradient(45px 45px, #ffe476 0px, #ffda43 150px);
}
/* line 70, ../../guard/sass/_stickyNote.scss */
.stickyNote.samba.color-1 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #cddd73), color-stop(100%, #bed34a));
  background-image: -webkit-radial-gradient(45px 45px, #cddd73 0px, #bed34a 150px);
  background-image: -moz-radial-gradient(45px 45px, #cddd73 0px, #bed34a 150px);
  background-image: -o-radial-gradient(45px 45px, #cddd73 0px, #bed34a 150px);
  background-image: radial-gradient(45px 45px, #cddd73 0px, #bed34a 150px);
}
/* line 73, ../../guard/sass/_stickyNote.scss */
.stickyNote.samba.color-2 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #f35f6d), color-stop(100%, #ef3042));
  background-image: -webkit-radial-gradient(45px 45px, #f35f6d 0px, #ef3042 150px);
  background-image: -moz-radial-gradient(45px 45px, #f35f6d 0px, #ef3042 150px);
  background-image: -o-radial-gradient(45px 45px, #f35f6d 0px, #ef3042 150px);
  background-image: radial-gradient(45px 45px, #f35f6d 0px, #ef3042 150px);
}
/* line 76, ../../guard/sass/_stickyNote.scss */
.stickyNote.samba.color-3 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #faa457), color-stop(100%, #f98925));
  background-image: -webkit-radial-gradient(45px 45px, #faa457 0px, #f98925 150px);
  background-image: -moz-radial-gradient(45px 45px, #faa457 0px, #f98925 150px);
  background-image: -o-radial-gradient(45px 45px, #faa457 0px, #f98925 150px);
  background-image: radial-gradient(45px 45px, #faa457 0px, #f98925 150px);
}
/* line 79, ../../guard/sass/_stickyNote.scss */
.stickyNote.samba.color-4 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #35beb7), color-stop(100%, #2a9691));
  background-image: -webkit-radial-gradient(45px 45px, #35beb7 0px, #2a9691 150px);
  background-image: -moz-radial-gradient(45px 45px, #35beb7 0px, #2a9691 150px);
  background-image: -o-radial-gradient(45px 45px, #35beb7 0px, #2a9691 150px);
  background-image: radial-gradient(45px 45px, #35beb7 0px, #2a9691 150px);
}
/* line 82, ../../guard/sass/_stickyNote.scss */
.stickyNote.samba.color-5 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #d189b9), color-stop(100%, #c364a3));
  background-image: -webkit-radial-gradient(45px 45px, #d189b9 0px, #c364a3 150px);
  background-image: -moz-radial-gradient(45px 45px, #d189b9 0px, #c364a3 150px);
  background-image: -o-radial-gradient(45px 45px, #d189b9 0px, #c364a3 150px);
  background-image: radial-gradient(45px 45px, #d189b9 0px, #c364a3 150px);
}
/* line 88, ../../guard/sass/_stickyNote.scss */
.stickyNote.aquatic.color-1 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #99c7bc), color-stop(100%, #78b5a6));
  background-image: -webkit-radial-gradient(45px 45px, #99c7bc 0px, #78b5a6 150px);
  background-image: -moz-radial-gradient(45px 45px, #99c7bc 0px, #78b5a6 150px);
  background-image: -o-radial-gradient(45px 45px, #99c7bc 0px, #78b5a6 150px);
  background-image: radial-gradient(45px 45px, #99c7bc 0px, #78b5a6 150px);
}
/* line 91, ../../guard/sass/_stickyNote.scss */
.stickyNote.aquatic.color-2 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #89b18c), color-stop(100%, #6a9d6e));
  background-image: -webkit-radial-gradient(45px 45px, #89b18c 0px, #6a9d6e 150px);
  background-image: -moz-radial-gradient(45px 45px, #89b18c 0px, #6a9d6e 150px);
  background-image: -o-radial-gradient(45px 45px, #89b18c 0px, #6a9d6e 150px);
  background-image: radial-gradient(45px 45px, #89b18c 0px, #6a9d6e 150px);
}
/* line 94, ../../guard/sass/_stickyNote.scss */
.stickyNote.aquatic.color-3 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #738fa7), color-stop(100%, #59768e));
  background-image: -webkit-radial-gradient(45px 45px, #738fa7 0px, #59768e 150px);
  background-image: -moz-radial-gradient(45px 45px, #738fa7 0px, #59768e 150px);
  background-image: -o-radial-gradient(45px 45px, #738fa7 0px, #59768e 150px);
  background-image: radial-gradient(45px 45px, #738fa7 0px, #59768e 150px);
}
/* line 97, ../../guard/sass/_stickyNote.scss */
.stickyNote.aquatic.color-4 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #8a8fa3), color-stop(100%, #6e748c));
  background-image: -webkit-radial-gradient(45px 45px, #8a8fa3 0px, #6e748c 150px);
  background-image: -moz-radial-gradient(45px 45px, #8a8fa3 0px, #6e748c 150px);
  background-image: -o-radial-gradient(45px 45px, #8a8fa3 0px, #6e748c 150px);
  background-image: radial-gradient(45px 45px, #8a8fa3 0px, #6e748c 150px);
}
/* line 100, ../../guard/sass/_stickyNote.scss */
.stickyNote.aquatic.color-5 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #82acb8), color-stop(100%, #6196a6));
  background-image: -webkit-radial-gradient(45px 45px, #82acb8 0px, #6196a6 150px);
  background-image: -moz-radial-gradient(45px 45px, #82acb8 0px, #6196a6 150px);
  background-image: -o-radial-gradient(45px 45px, #82acb8 0px, #6196a6 150px);
  background-image: radial-gradient(45px 45px, #82acb8 0px, #6196a6 150px);
}
/* line 106, ../../guard/sass/_stickyNote.scss */
.stickyNote.sunbrite.color-1 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #f9d6ac), color-stop(100%, #f6bf7c));
  background-image: -webkit-radial-gradient(45px 45px, #f9d6ac 0px, #f6bf7c 150px);
  background-image: -moz-radial-gradient(45px 45px, #f9d6ac 0px, #f6bf7c 150px);
  background-image: -o-radial-gradient(45px 45px, #f9d6ac 0px, #f6bf7c 150px);
  background-image: radial-gradient(45px 45px, #f9d6ac 0px, #f6bf7c 150px);
}
/* line 109, ../../guard/sass/_stickyNote.scss */
.stickyNote.sunbrite.color-2 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #e9b561), color-stop(100%, #e3a034));
  background-image: -webkit-radial-gradient(45px 45px, #e9b561 0px, #e3a034 150px);
  background-image: -moz-radial-gradient(45px 45px, #e9b561 0px, #e3a034 150px);
  background-image: -o-radial-gradient(45px 45px, #e9b561 0px, #e3a034 150px);
  background-image: radial-gradient(45px 45px, #e9b561 0px, #e3a034 150px);
}
/* line 112, ../../guard/sass/_stickyNote.scss */
.stickyNote.sunbrite.color-3 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #e89132), color-stop(100%, #d07817));
  background-image: -webkit-radial-gradient(45px 45px, #e89132 0px, #d07817 150px);
  background-image: -moz-radial-gradient(45px 45px, #e89132 0px, #d07817 150px);
  background-image: -o-radial-gradient(45px 45px, #e89132 0px, #d07817 150px);
  background-image: radial-gradient(45px 45px, #e89132 0px, #d07817 150px);
}
/* line 115, ../../guard/sass/_stickyNote.scss */
.stickyNote.sunbrite.color-4 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #da7527), color-stop(100%, #b05e1e));
  background-image: -webkit-radial-gradient(45px 45px, #da7527 0px, #b05e1e 150px);
  background-image: -moz-radial-gradient(45px 45px, #da7527 0px, #b05e1e 150px);
  background-image: -o-radial-gradient(45px 45px, #da7527 0px, #b05e1e 150px);
  background-image: radial-gradient(45px 45px, #da7527 0px, #b05e1e 150px);
}
/* line 118, ../../guard/sass/_stickyNote.scss */
.stickyNote.sunbrite.color-5 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #deac2f), color-stop(100%, #bc8f1e));
  background-image: -webkit-radial-gradient(45px 45px, #deac2f 0px, #bc8f1e 150px);
  background-image: -moz-radial-gradient(45px 45px, #deac2f 0px, #bc8f1e 150px);
  background-image: -o-radial-gradient(45px 45px, #deac2f 0px, #bc8f1e 150px);
  background-image: radial-gradient(45px 45px, #deac2f 0px, #bc8f1e 150px);
}
/* line 124, ../../guard/sass/_stickyNote.scss */
.stickyNote.classic.color-1 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #bab7a9), color-stop(100%, #a39f8d));
  background-image: -webkit-radial-gradient(45px 45px, #bab7a9 0px, #a39f8d 150px);
  background-image: -moz-radial-gradient(45px 45px, #bab7a9 0px, #a39f8d 150px);
  background-image: -o-radial-gradient(45px 45px, #bab7a9 0px, #a39f8d 150px);
  background-image: radial-gradient(45px 45px, #bab7a9 0px, #a39f8d 150px);
}
/* line 127, ../../guard/sass/_stickyNote.scss */
.stickyNote.classic.color-2 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #bfb4af), color-stop(100%, #a89993));
  background-image: -webkit-radial-gradient(45px 45px, #bfb4af 0px, #a89993 150px);
  background-image: -moz-radial-gradient(45px 45px, #bfb4af 0px, #a89993 150px);
  background-image: -o-radial-gradient(45px 45px, #bfb4af 0px, #a89993 150px);
  background-image: radial-gradient(45px 45px, #bfb4af 0px, #a89993 150px);
}
/* line 130, ../../guard/sass/_stickyNote.scss */
.stickyNote.classic.color-3 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #cdc4c1), color-stop(100%, #b6a9a5));
  background-image: -webkit-radial-gradient(45px 45px, #cdc4c1 0px, #b6a9a5 150px);
  background-image: -moz-radial-gradient(45px 45px, #cdc4c1 0px, #b6a9a5 150px);
  background-image: -o-radial-gradient(45px 45px, #cdc4c1 0px, #b6a9a5 150px);
  background-image: radial-gradient(45px 45px, #cdc4c1 0px, #b6a9a5 150px);
}
/* line 133, ../../guard/sass/_stickyNote.scss */
.stickyNote.classic.color-4 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #cfb69e), color-stop(100%, #be9c7c));
  background-image: -webkit-radial-gradient(45px 45px, #cfb69e 0px, #be9c7c 150px);
  background-image: -moz-radial-gradient(45px 45px, #cfb69e 0px, #be9c7c 150px);
  background-image: -o-radial-gradient(45px 45px, #cfb69e 0px, #be9c7c 150px);
  background-image: radial-gradient(45px 45px, #cfb69e 0px, #be9c7c 150px);
}
/* line 136, ../../guard/sass/_stickyNote.scss */
.stickyNote.classic.color-5 {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 150, color-stop(0%, #d0ad87), color-stop(100%, #c29462));
  background-image: -webkit-radial-gradient(45px 45px, #d0ad87 0px, #c29462 150px);
  background-image: -moz-radial-gradient(45px 45px, #d0ad87 0px, #c29462 150px);
  background-image: -o-radial-gradient(45px 45px, #d0ad87 0px, #c29462 150px);
  background-image: radial-gradient(45px 45px, #d0ad87 0px, #c29462 150px);
}

/* line 10, ../../guard/sass/stylesheet.scss */
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Droid Sans', sans-serif;
  color: #414141;
  height: 100%;
}

/* line 20, ../../guard/sass/stylesheet.scss */
div.content p {
  padding: 0px 20px;
  color: #414141;
}
