html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Droid Sans', sans-serif;
}

header {
    height: 40px;
    line-height: 40px;
    background-color: #F3F3F3;
    background-image: linear-gradient(#F9F9F9, #F3F3F3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #E5E5E5;
    text-shadow: 0 1px 0 #FFFFFF;
}

header div.wrapper {
    padding: 0px 20px;
}


div.content {
    p {
        padding: 0px 20px;
        color: #414141;
    }
}

header ul li {
    display: inline-block;
}