@import "compass";
@import "header";
@import "login";
@import "stickyNote";

$legacy-support-for-ie: true;


html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Droid Sans', sans-serif;
    color: #414141;
    height: 100%;
}


div.content {
    p {
        padding: 0px 20px;
        color: #414141;
    }
}